@font-face {
  font-family: 'AcuminVariableConcept';
  src: url('./assets/fonts/AcuminVariableConcept.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ADVERGT';
  src: url('./assets/fonts/ADVERGT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'AcuminVariableConcept', 'ADVERGT', sans-serif;
  font-size: 1.5rem;
  background-color: #2A2D34;
  color: white;
  width: '100vw';
  border-radius: 1px solid red;
}

p {
  font-family:  'AcuminVariableConcept';
  margin: '0';
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}



.main-background {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-image: url(../src/assets/svg/Bg.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}


.house-funds-container-sizing {
  width: auto;
  max-width: 20vw;
}

.wallet-button-sizing {
  width: clamp(200px,15vw,450px);
}

.glow-effect {
  border-radius: 50%;
  box-shadow: 0 0 16px 16px rgba(0, 47, 135, 0.5);
}


.glow-effect-rectangle {
  background: rgba(0, 0, 0, 0); 
  color: white; 
  padding: 0px 0px; 
  border-radius: 30px; /* Adjust for rounding */
  box-shadow: 0 0 15px 7px rgba(0, 47, 135, 0.75); /* Adjust color and size of glow */
  text-align: center; 
}

